<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="320">

    <title>维美美丽管家</title>

    <link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/custom.css">
</head>

<body>
<header>
    <nav>
        <a id="location" href="{:U('Mei/ditu')}"><img src="__STYLE__/images/location.png"></a>
        <a class="title">{$mei[0]['mei_name']} - 详情</a>
        <a id="tel" href="tel:{$tel[0]['phone']}"><img src="__STYLE__/images/tel.png"></a>
    </nav>
</header>

<div id="content" class="face-detail-con">
    <div class="content">
        <div class="detail-top">
            <div class="swiper-container swiper-top">
                <div class="swiper-wrapper">
                <if condition="$pic_item[0] neq null">
                    <div class="swiper-slide"><img src="__PICURL__/{$pic_item[0]}"></div>
                </if>
                <if condition="$pic_item[1] neq null">
                    <div class="swiper-slide"><img src="__PICURL__/{$pic_item[1]}"></div>
                </if>
                <if condition="$pic_item[2] neq null">
                    <div class="swiper-slide"><img src="__PICURL__/{$pic_item[2]}"></div>
                </if>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination pagination1"></div>
            </div>
        </div>
        <div class="intro">
            <div class="tit">
                <h3>{$mei[0]['mei_name']} /<span>Laser acne</span><span class="s1">（{$mei[0]['type']}）</span></h3>
            </div>
            <div class="intro-con">
                <div class="value">
                    <div class="left">
                        <a>特惠价：<span>{$mei[0]['price']}</span>元&nbsp;&nbsp;原价：<span class="spe">{$mei[0]['oldprice']}</span>元</a>
                    </div>
                    <div class="right">
                        <a>销售：<span>{$mei[0]['sales']}</span>次</a>
                    </div>
                    <p>可使用维美币上限{$mei[0]['jifen']}</p>
                    <div class="clear"></div>
                </div>
                <p><span>简介：</span>{$mei[0]['jianjie']}</p>
            </div>
        </div>
        <div class="intro group">
            <div class="tit">
                <h3>服务时长：{$mei[0]['timelong']}分钟</h3>
                <if condition="$mei[0]['cishu'] eq 1">
                    <h3>次数：单次</h3>
                </if>
                <if condition="$mei[0]['cishu'] neq 1">
                    <h3>次数：{$mei[0]['cishu']}</h3>
                </if>
                <h3>适用人群：{$mei[0]['people']}</h3>
            </div>
        </div>
        <div class="operate">
            <div class="intro">
                <div class="tit">
                    <h3>操作流程 /<span>Operation flow</span></h3>
                </div>
            </div>
            <div class="swiper">
                <div class="swiper-button-prev swiper-button-prev1"></div>
                <div class="swiper-button-next swiper-button-next1"></div>
                <div class="swiper-container swiper-con1">
                    <div class="swiper-wrapper">
                    <if condition="$czbz[0] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[0]}">
                            <div class="op-info">
                                <p>1.{$czbz[1]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[2] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[2]}">
                            <div class="op-info">
                                <p>2.{$czbz[3]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[4] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[4]}">
                            <div class="op-info">
                                <p>3.{$czbz[5]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[6] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[6]}">
                            <div class="op-info">
                                <p>4.{$czbz[7]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[8] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[8]}">
                            <div class="op-info">
                                <p>5.{$czbz[9]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[10] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[10]}">
                            <div class="op-info">
                                <p>6.{$czbz[11]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[12] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[12]}">
                            <div class="op-info">
                                <p>7.{$czbz[13]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[14] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[14]}">
                            <div class="op-info">
                                <p>8.{$czbz[15]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[16] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[16]}">
                            <div class="op-info">
                                <p>9.{$czbz[17]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[18] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[18]}">
                            <div class="op-info">
                                <p>10.{$czbz[19]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[20] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[20]}">
                            <div class="op-info">
                                <p>11.{$czbz[21]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[22] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[22]}">
                            <div class="op-info">
                                <p>12.{$czbz[23]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[24] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[24]}">
                            <div class="op-info">
                                <p>13.{$czbz[25]}</p>
                            </div>
                        </div>
                    </if>

                    <if condition="$czbz[26] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[26]}">
                            <div class="op-info">
                                <p>14.{$czbz[27]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[28] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[28]}">
                            <div class="op-info">
                                <p>15.{$czbz[29]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[30] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[30]}">
                            <div class="op-info">
                                <p>16.{$czbz[31]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[32] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[32]}">
                            <div class="op-info">
                                <p>17.{$czbz[33]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$czbz[34] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$czbz[34]}">
                            <div class="op-info">
                                <p>18.{$czbz[35]}</p>
                            </div>
                        </div>
                    </if>
                    </div>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="intro">
                <div class="tit">
                    <h3>使用产品 / <span>Use products</span></h3>
                </div>
            </div>
            <div class="swiper">
                <div class="swiper-button-prev swiper-button-prev2 "></div>
                <div class="swiper-button-next swiper-button-next2"></div>
                <div class="swiper-container swiper-con2 ">
                    <div class="swiper-wrapper">
                    <if condition="$goods_display[0] neq null">
                        <div class="swiper-slide swiper-slide-active">
                            <img src="__PICURL__/{$goods_display[0]}">
                            <div class="ser-info">
                                <p>{$goods_display[1]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[2] neq null">
                        <div class="swiper-slide swiper-slide-next">
                            <img src="__PICURL__/{$goods_display[2]}">
                            <div class="ser-info">
                                <p>{$goods_display[3]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[4] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[4]}">
                            <div class="ser-info">
                                <p>{$goods_display[5]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[6] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[6]}">
                            <div class="ser-info">
                                <p>{$goods_display[7]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[8] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[8]}">
                            <div class="ser-info">
                                <p>{$goods_display[9]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[10] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[10]}">
                            <div class="ser-info">
                                <p>{$goods_display[11]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[12] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[12]}">
                            <div class="ser-info">
                                <p>{$goods_display[13]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[14] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[14]}">
                            <div class="ser-info">
                                <p>{$goods_display[15]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[16] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[16]}">
                            <div class="ser-info">
                                <p>{$goods_display[17]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[18] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[18]}">
                            <div class="ser-info">
                                <p>{$goods_display[19]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[20] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[20]}">
                            <div class="ser-info">
                                <p>{$goods_display[21]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[22] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[22]}">
                            <div class="ser-info">
                                <p>{$goods_display[23]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[24] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[24]}">
                            <div class="ser-info">
                                <p>{$goods_display[25]}</p>
                            </div>
                        </div>
                    </if>

                    <if condition="$goods_display[26] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[26]}">
                            <div class="ser-info">
                                <p>{$goods_display[27]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[28] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[28]}">
                            <div class="ser-info">
                                <p>{$goods_display[29]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[30] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[30]}">
                            <div class="ser-info">
                                <p>{$goods_display[31]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[32] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[32]}">
                            <div class="ser-info">
                                <p>{$goods_display[33]}</p>
                            </div>
                        </div>
                    </if>
                    <if condition="$goods_display[34] neq null">
                        <div class="swiper-slide">
                            <img src="__PICURL__/{$goods_display[34]}">
                            <div class="ser-info">
                                <p>{$goods_display[35]}</p>
                            </div>
                        </div>
                    </if>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro">
            <div class="tit">
                <h3>注意事项  / <span>Note</span></h3>
            </div>
            <div class="intro-con">
                <p>{$mei[0]['notice']}</p>
            </div>
        </div>
        <div class="intro">
            <div class="tit">
                <h3 class="border_none">其他  / <span>Other</span></h3>
            </div>
            <div class="intro-con"><p>{$mei[0]['remark']}</p></div>
        </div>
        <div class="appoint">
        <if condition="$mei[0]['type'] eq '到院'">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Mei/reservation_hospital?mei_id={$mei[0]['id']}&response_type=code&scope=snsapi_base&state=123#wechat_redirect" class="hospital left"><span>预约到院</span><img src="__STYLE__/images/arrow.png"></a> 
			<a href="javascript:alert('该项目仅支持预约到院')" class="home right"><span>预约上门</span><img src="__STYLE__/images/arrow.png"></a>
            <div class="clear"></div>
        </if>
        <if condition="$mei[0]['type'] eq '上门'">
        	<a href="javascript:alert('该项目仅支持预约上门')" class="hospital left"><span>预约到院</span><img src="__STYLE__/images/arrow.png"></a>
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Mei/reservation_home?mei_id={$mei[0]['id']}&response_type=code&scope=snsapi_base&state=123#wechat_redirect" class="home right"><span>预约上门</span><img src="__STYLE__/images/arrow.png"></a> <div class="clear"></div>
        </if>
        <if condition="$mei[0]['type'] eq '都可以'">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Mei/reservation_hospital?mei_id={$mei[0]['id']}&response_type=code&scope=snsapi_base&state=123#wechat_redirect" class="hospital left"><span>预约到院</span><img src="__STYLE__/images/arrow.png"></a>
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Mei/reservation_home?mei_id={$mei[0]['id']}&response_type=code&scope=snsapi_base&state=123#wechat_redirect" class="home right"><span>预约上门</span><img src="__STYLE__/images/arrow.png"></a>
                <div class="clear"></div>
        </if>
        </div>
    </div>
</div>

<footer>
    <ul class="clearfix">
        <li class="center">
            <a href="{:U('Mei/mei_index')}">
                <div class="ico">
                    <img src="__STYLE__/images/home.png">
                </div>
                <span>首页</span>
            </a>
        </li>
        <li class="center">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Dingdan/order&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                <div class="ico">
                    <img src="__STYLE__/images/order.png">
                </div>
                <span>订单</span>
            </a>
        </li>
        <li class="center">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx07c0189227f8f9af&redirect_uri=__URL__/weimei/index.php/Home/Mei/keeper&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                <div class="ico">
                    <img src="__STYLE__/images/user.png">
                </div>
                <span>我的</span>
            </a>
        </li>
    </ul>
</footer>

<script type="text/javascript" src="__JS__/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/swiper.min.js"></script>
<script type="text/javascript" src="__JS__/custom.js"></script>
<script type="text/javascript">
var swipertop = new Swiper('.swiper-top', {
    pagination: '.pagination1',
    paginationClickable: true,
    autoplay: 5000
});
var swipercon1 = new Swiper('.swiper-con1', {
    slidesPerView: 2,
    prevButton: '.swiper-button-prev1',
    nextButton: '.swiper-button-next1',
    spaceBetween: 22
});
var swipercon2 = new Swiper('.swiper-con2', {
    slidesPerView: 2,
    prevButton: '.swiper-button-prev2',
    nextButton: '.swiper-button-next2',
    spaceBetween: 22
});
</script>

</body>
</html>