<extend name="Public:base" />


<block name="main-header">
	<div class="header">
        <h1 class="page-title">新增美丽管家</h1>
        <ul class="breadcrumb">
            <li>美丽管家管理</li>
            <li class="active">新增美丽管家</li>
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content" style="height: 1350px;">
		<form enctype="multipart/form-data" onsubmit="return checkForm()" action="{:U('housekeeper_add_update')}" method="post" class="demoform" >

		    <div class="form-group">
				<label class="col-md-2 control-label" style="padding:0px 0px 5px 0px;">美容师属性： <span style="color:red">*</span> </label>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
                    <input type="radio" name="shuxing" value="0" checked="checked" />  院内</div>
                <div class="col-md-2" style="padding:0px 0px 10px 0px;">
                    <input type="radio" name="shuxing" value="1" />  院外
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">工号: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="job_num" id="job_num" placeholder="必填项" value="" datatype="*" nullmsg="请填写工号！" errormsg="请填写工号！" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">姓名: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="name" id="name" placeholder="必填项" value=""  datatype="*" nullmsg="请填写姓名！" errormsg="请填写姓名！">
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">职称等级: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="title" id="title" placeholder="必填项" value="" datatype="*" nullmsg="请填写职称等级！" errormsg="请填写职称等级！" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">学历: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="xueli" id="xueli" placeholder="必填项" value="" datatype="*" nullmsg="请填写学历！" errormsg="请填写学历！" >
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">客户评价: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="pingjia" id="pingjia" placeholder="填写0-100之间的数字" value="" datatype="n" nullmsg="请填写客户评价！" errormsg="客户评价只能是0-100之间的数字！" maxlength="3">
				</div>
			</div>
<!--*********头像图片*************************头像图片********************头像图片*********************-->
			<div class="control-group">
				<label for="insertimage"class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">头像:</label>
				<div class="col-md-12" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="one">
						    
						</a>
						<input id="pic_tou" name="pic_tou" class="input-medium" type="file" onChange="a(this)"  style="margin-bottom:10px; width:66px;" datatype="*" nullmsg="请上传头像！" errormsg="请上传头像！">
					</div>
				</div>
			</div>
<!--*********形象照图片*************************形象照图片********************形象照图片*********************-->
			<div class="control-group">
				<label for="insertimage"class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">形象照:</label>
				<div class="col-md-3" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="two">
						    
						</a>
						<input id="pic_xing1" name="pic_xing1" class="input-medium" type="file" onChange="b(this)"  style="margin-bottom:10px; width:66px;" datatype="*" nullmsg="请上传形象照！" errormsg="请上传形象照！">
					</div>
				</div>
				<div class="col-md-3" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="three">
						    
						</a>
						<input id="pic_xing2" name="pic_xing2" class="input-medium" type="file" onChange="c(this)"  style="margin-bottom:10px; width:66px;">
					</div>
				</div>
				<div class="col-md-3" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="four">
						    
						</a>
						<input id="pic_xing3" name="pic_xing3" class="input-medium" type="file" onChange="d(this)"  style="margin-bottom:10px; width:66px;" >
					</div>
				</div>
			</div>
<!--************资质证书图片**********************资质证书图片**********************资质证书图片********************-->
			<div class="control-group">
				<label for="insertimage"class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">资质证书:</label>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="five">
						    
						</a>
						<input id="zzzs1" name="zzzs1" class="input-medium" type="file" onChange="e(this)"  style="margin-bottom:10px; width:66px;" datatype="*" nullmsg="请上传资质证书！" errormsg="请上传资质证书！">
						<input type="text" name="step_detail1" id="step_detail1" />
					</div>
				</div>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="six">
						    
						</a>
						<input id="zzzs2" name="zzzs2" class="input-medium" type="file" onChange="f(this)"  style="margin-bottom:10px; width:66px;" >
						<input type="text" name="step_detail2" id="step_detail2" />
					</div>
				</div>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="seven">
						    
						</a>
						<input id="zzzs3" name="zzzs3" class="input-medium" type="file" onChange="g(this)"  style="margin-bottom:10px; width:66px;" >
						<input type="text" name="step_detail3" id="step_detail3" />
					</div>
				</div>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="eight">
						    
						</a>
						<input id="zzzs4" name="zzzs4" class="input-medium" type="file" onChange="h(this)"  style="margin-bottom:10px; width:66px;" >
						<input type="text" name="step_detail4" id="step_detail4" />
					</div>
				</div>
				<div class="col-md-2" style="padding:0px 0px 10px 0px;">
					<div class="controls">
						<a id="nine">
						    
						</a>
						<input id="zzzs5" name="zzzs5" class="input-medium" type="file" onChange="i(this)"  style="margin-bottom:10px; width:66px;" >
						<input type="text" name="step_detail5" id="step_detail5" />
					</div>
				</div>
			</div>
<!--*************************************************************************************************************************-->
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">累计服务次数: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="cishu" id="cishu" placeholder="必填项（数字）" value="" datatype="n" nullmsg="请填写累计服务次数！" errormsg="累计服务次数只能是数字！">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">顾客打赏: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="dashang" id="dashang" placeholder="必填项（数字）" value=""  datatype="n" nullmsg="请填写顾客打赏！" errormsg="顾客打赏只能是数字！">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">任职经历: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<textarea type="text" class="form-control" name="rzjl" id="rzjl" placeholder="必填项" value="" datatype="*" nullmsg="请填写任职经历！" errormsg="请填写任职经历！"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">擅长项目: <span style="color:red">*</span></label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<textarea type="text" class="form-control" name="scxm" id="scxm" placeholder="必填项" value="" datatype="*" nullmsg="请填写擅长项目！" errormsg="请填写擅长项目！"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="btn-toolbar list-toolbar col-md-offset-2 col-md-10" style="margin-top:15px;margin-bottom:40px;">
				<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> 保 存</button>
				<a href="{:U('housekeeper_list')}" class="btn btn-danger" style="margin-left: 60px;"><i class="glyphicon glyphicon-list"></i> 返回列表</a>
				</div>
			</div>
		</form>
	</div>
<script type="text/javascript">
		$('#job_num').on('blur', function() {
				$.ajax({
					type: "POST",
			        url: "{:U('housekeeper_check')}",
			        contentType:"application/x-www-form-urlencoded;charset=utf-8", 
			        dataType: "json",
			        data: {job_num:$('#job_num').val()},
			        success: function(msg){
        				alert(msg.info);        	  
			        }
			    });
			});
</script>
	


<script type="text/javascript">
//图片上传1
		function a(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('one');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=pic_tou>';
		var img = document.getElementById('pic_tou');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=pic_tou>';
		var img = document.getElementById('pic_tou');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传
		function b(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('two');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=pic_xing1>';
		var img = document.getElementById('pic_xing1');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=pic_xing1>';
		var img = document.getElementById('pic_xing1');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传3
		function c(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('three');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=pic_xing2>';
		var img = document.getElementById('pic_xing2');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=pic_xing2';
		var img = document.getElementById('pic_xing2');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传4
		function d(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('four');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=pic_xing3>';
		var img = document.getElementById('pic_xing3');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=pic_xing3>';
		var img = document.getElementById('pic_xing3');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传5
		function e(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('five');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=zzzs1>';
		var img = document.getElementById('zzzs1');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=zzzs1>';
		var img = document.getElementById('zzzs1');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传6
		function f(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('six');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=zzzs2>';
		var img = document.getElementById('zzzs2');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=zzzs2>';
		var img = document.getElementById('zzzs2');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传7
		function g(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('seven');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=zzzs3>';
		var img = document.getElementById('zzzs3');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=zzzs3>';
		var img = document.getElementById('zzzs3');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传8
		function h(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('eight');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=zzzs4>';
		var img = document.getElementById('zzzs4');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=zzzs4>';
		var img = document.getElementById('zzzs4');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
//图片上传9
		function i(file)
		{
		var MAXWIDTH  = 130;
		var MAXHEIGHT = 100;
		var div = document.getElementById('nine');
		if (file.files && file.files[0])
		{
		div.innerHTML ='<img id=zzzs5>';
		var img = document.getElementById('zzzs5');
		img.onload = function(){
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		img.width  =  rect.width;
		img.height =  rect.height;
		//                 img.style.marginLeft = rect.left+'px';
		img.style.marginTop = rect.top+'px';
		}
		var reader = new FileReader();
		reader.onload = function(evt){img.src = evt.target.result;}
		reader.readAsDataURL(file.files[0]);
		}
		else //兼容IE
		{
		var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
		file.select();
		var src = document.selection.createRange().text;
		div.innerHTML = '<img id=zzzs5>';
		var img = document.getElementById('zzzs5');
		img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
		var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
		status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
		div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
		}
		}
		function clacImgZoomParam( maxWidth, maxHeight, width, height ){
		var param = {top:0, left:0, width:width, height:height};
		if( width>maxWidth || height>maxHeight )
		{
		rateWidth = width / maxWidth;
		rateHeight = height / maxHeight;
		
		if( rateWidth > rateHeight )
		{
		param.width =  maxWidth;
		param.height = Math.round(height / rateWidth);
		}else
		{
		param.width = Math.round(width / rateHeight);
		param.height = maxHeight;
		}
		}
		
		param.left = Math.round((maxWidth - param.width) / 2);
		param.top = Math.round((maxHeight - param.height) / 2);
		return param;
		}
		window.document.onkeydown = function(e) {
			if ('' == document.activeElement.id) {
				var e=e || event;
				var currKey=e.keyCode || e.which || e.charCode;
				if (8 == currKey) {
					return false;
				}
			}
		};
</script>
<script type="text/javascript">
	
	$(".demoform").Validform();
    
</script>
</block>
