<extend name="Public:base" />
<!-- 需要继承的不用写，不需要继承（去掉的）要写，并且里面为空 -->
<block name="main-header">
	<div class="header">
        <h1 class="page-title">美丽管家管理</h1>
        <ul class="breadcrumb">
            <li>美丽管家管理</li> 
            <li class="active">美丽管家管理</li>          
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content">
		<form enctype="multipart/form-data" action="{:U('housekeeper_delete_update')}" method="post" >
			<div class="btn-toolbar list-toolbar col-md-12" style="margin-top: -20px;">　　　　　　　　　　　　　　　　　　　
			    <div class='col-md-2'> <a href="{:U('housekeeper_add')}" class="btn btn-primary"><i class="fa fa-plus"></i> 添加美丽管家</a></div>
			    <div class='col-md-2'><button type="submit" class="btn btn-danger" name="del" ><i class="glyphicon glyphicon-trash"></i> 删除美丽管家</button></div>
			</div>
			<!-- <h1 class="page">Premium User List</h1> -->
			<h3 class="page-tagline"></h3>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<thead>
							<tr style="background: #0099FF;color:#FFFFFF">
								<th>序号</th>
								<th>工号</th>
								<th>姓名</th>
								<th>学历</th>
								<th>头像</th>
								<th>累计服务次数</th>
								<th>顾客打赏</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name='housekeeper' id='vo'>
							<tr>
								<td> <input type="checkbox" name="delete_id[]" value="{$vo['id']}">&nbsp;&nbsp;{$vo['id']}</td>
								<td>{$vo['job_num']}</td>
								<td>{$vo['name']}</td>
								<td>{$vo['xueli']}</td>
								<td><img class="media-object thumb-sm" src="__PICURL__/{$vo['pic_tou']}"></td>
								<td>{$vo['cishu']}</td>	
								<td>{$vo['dashang']}</td>
															
								<td>
									<a href="{:U('housekeeper_modify',array('housekeeper_id'=>$vo['id']))}">编辑</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
					
				</div>
			</div>
		</form>
		<input type="text" value="all" id="page_condition" style="display:none;" />
		<input type="text" value="" id="order_condition"  style="display:none;" />
		<div class="result page" id='footer_div' style="text-align:center"><font id='wc'>共 {$housekeeper_count} 条记录  {$page_now}/{$housekeeper_pagenum} 页 </font>  <a class="pre_page" href="#">上一页</a>  <a class="next_page" href="#">下一页</a>  跳至<input style="width:25px;" class="jump_page" type="text"/> 页 &nbsp; <input type="button" class="btn btn-primary btn-sm jump_button" value="提交">  </div>
	
	</div>
	<!-- 模板继承，js函数写到block里 -->
	<script type="text/javascript">
		$('.next_page').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ({$page_now} == {$housekeeper_pagenum}) {
				alert('当前页为最后一页');
			}else{
				location.href = "{:U('housekeeper_list',array('page_now'=>$page_now+1))}";
			};
		});

		$('.pre_page').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ({$page_now} == 1) {
				alert('当前页为第一页');
			}else{
				location.href = "{:U('housekeeper_list',array('page_now'=>$page_now-1))}";
			};
		});

		$('.jump_button').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ( parseInt($('.jump_page').val()) < 1 || parseInt($('.jump_page').val()) > {$housekeeper_pagenum} ) {
				alert('超过页数范围');
			}else{
				location.href = "{:U('housekeeper_list')}/page_now/"+$('.jump_page').val();
			};
		});
	</script>
</block>
